*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 200vh;
}

div{
    background-color: red;
    /* border: 3px solid black; */
    box-shadow: 0 0 10px 4px black;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

span{
    position: absolute;
    width: 50%;
    height: 50%;
}

span:nth-child(1){
    background-color: white;
    top: 0;
    right: 0;
}

span:nth-child(2){
    background-color: white;
    bottom: 0;
    left: 0;
}