*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 360-640px */

p{
    text-align: center;
    line-height: 100vh;
    font-size: 28px;
    text-transform: uppercase;
    padding: 0 5%;
    display: block;
}

p.p2{
    display: none;
}

p.p3{
    display: none;
}

p.p4{
    display: none;
}

p.p5{
    display: none;
}

@media(min-width: 361px){

    p{
        font-size: 32px;
        color: brown;
    }
    p.p1{
        display: none;
    }
    p.p2{
        display: block;
        color: blue;
    }
}

@media(min-width: 800px){
    p{
        font-size: 38px;
        color: orange;
    }
    p.p2{
        display: none;
    }
    p.p3{
        display: block;
        color: yellow;

    }
}

@media(min-width: 1024px){
    p{
        font-size: 42px;
        color: yellow;
    }
    p.p3{
        display: none;
    }
    p.p4{
        display: block;
        color: red;
        text-decoration: underline;
    }
}

@media(orientation: portrait){
    p{
        background-color: gray;
    }
}

@media(orientation: landscape){
    p{
        background-color: darkcyan;
    }
}

/* @media(orientation: landscape) and (min-width: 600px){
    p{
        background-color: black;
        color: pink;
    }
} */