*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* bell icon */

.bell{
    position: fixed;
    bottom: 100px;
    right: 100px;
    font-size: 80px;
    height: 120px;
    width: 120px;
    border: 7px solid cadetblue;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
    color: cadetblue;
    transition: 0.2s;
}

.bell:hover{
    background-color: cadetblue;
    cursor: pointer;
}

.bell i{
    transform-origin: 50% 0;
    animation: motion 0.5s linear infinite alternate;
    transition: 0.2s;
}

.bell:hover i{
    color: white;
    animation-play-state: paused;
}

@keyframes motion{
    0%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(15deg);
    }
}

/* arrow icon */

.arrow{
    position: fixed;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
    height: 120px;
    width: 120px;
    font-size: 80px;
    background-color: royalblue;
    color: white;
    text-align: center;
    line-height: 120px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.3s;
}

.arrow i{
    text-shadow: 0 -35px 0 white, 0 -70px 0 white;
    animation: arrowMove 0.7s linear infinite;
    transition: 0.3s;
}

@keyframes arrowMove{
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(150px);
    }
}

.arrow:hover{
    background-color: white;
    border: 7px solid royalblue;
    cursor: pointer;
}

.arrow:hover i{
    animation-duration: 0.4s;
    text-shadow: 0 -35px 0 royalblue, 0 -70px 0 royalblue;
    color: royalblue;
}
