*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

header{
    height: 90vh;
    position: relative;
    background-color: #29a6dc;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

header>*{
    position: absolute;
}

header img{
    height: 50%;
    bottom: 0;
    right: 0;
}

header div.welcome{
    top: 10%;
    left: 5%;   
    right: 5%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    z-index: 1;
}

header p{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

header h1{
    font-size: 20px;
}

header h2{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

header button{
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s;
}

@media (orientation: landscape){
    header img{
        height: 90%;
        bottom: 0;
        right: -5%;
    }

    header div.welcome{
        top: 15%;
        left: 0%;
        right: 40%;
    }

    header button{
        margin-top: 35px;
        font-size: 16px;
        line-height: 40px;
    }
}

@media (orientation: portrait) AND (min-width: 360px){
    header p{
        font-size: 50px;
    }

    header h1{
        font-size: 24px;
    }
    
    header h2{
        font-size: 24px;
    }
    header button{
        font-size: 20px;
        line-height: 46px;
    }
    header img{
    right: -10%;
    }
}

@media (orientation: portrait) AND (min-width: 600px){
    header div.welcome{
        top: 5%;
        left: 0%;
        right: 0%;
    }

    header p{
        font-size: 60px;
    }

    header h1{
        font-size: 26px;
    }
    
    header h2{
        font-size: 26px;
    }
    header button{
        font-size: 22px;
        line-height: 44px;
        padding: 0 20px;
    }
    header img{
    height: 57%;
    right: 10%;
    bottom: -3%;
    }
}

@media (orientation: portrait) AND (min-width: 768px){
    
    header p{
        font-size: 70px;
    }

    header h1{
        font-size: 34px;
    }
    
    header h2{
        font-size: 34px;
    }
    header button{
        font-size: 26px;
        line-height: 50px;
        padding: 0 30px;
    }
    header img{
    height: 57%;
    right: 0;
    bottom: -3%;
    }
}

@media (orientation: landscape) AND (min-width: 600px){
    header div.welcome{
        top: 20%;
        left: 0%;
        right: 55%;
    }
    header p{
        font-size: 55px;
    }

    header h1{
        font-size: 28px;
    }
    
    header h2{
        font-size: 28px;
    }

    header button{
        font-size: 22px;
        line-height: 46px;
        padding: 0 20px;
    }

    header img{
        height: 85%;
        right: -20%;
        }
}

@media (orientation: landscape) AND (min-width: 800px){
    header div.welcome{
        top: 20%;
        left: 0%;
        right: 55%;
    }
    header p{
        font-size: 60px;
    }

    header h1{
        font-size: 30px;
    }
    
    header h2{
        font-size: 30px;
    }

    header button{
        font-size: 24px;
        line-height: 48px;
        padding: 0 25px;
    }

    header img{
        height: 90%;
        right: -15%;
        }
}

@media (min-width: 800px){
    header button:hover{
        color: #111;
        background-color: rgba(255,255,255,0.6);
        border-color: #111;
    }
}

@media (orientation: landscape) AND (min-width: 1024px){
    header div.welcome{
        top: 15%;
        left: 0%;
        right: 50%;
    }
    header p{
        font-size: 70px;
    }

    header h1{
        font-size: 34px;
    }
    
    header h2{
        font-size: 34px;
    }
    header button{
        font-size: 26px;
        line-height: 50px;
        padding: 0 30px;
    }
    header img{
        height: 95%;
        right: -10%;
        }
}

@media (orientation: landscape) AND (min-width: 1444px){
    header div.welcome{
        top: 15%;
        left: 0%;
        right: 50%;
    }
    header p{
        font-size: 76px;
    }

    header h1{
        font-size: 38px;
    }
    
    header h2{
        font-size: 38px;
    }
    header button{
        font-size: 30px;
        line-height: 52px;
        padding: 0 30px;
    }
    header img{
        height: 98%;
        right: -10%;
        }
}

/* sekcja 1 */

.features{
    margin-top: 50px;
    padding: 5%;
    text-align: center;
}

.features h1{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.features img{
    width: 100%;
    margin: 20px 0 5px 0;
    max-width: 375px;
}

.features h2{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    text-transform: uppercase;  
}

.features p{
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: justify;
    margin: 15px 0;
}

@media (min-width: 360px){

    .features h1{
        font-size: 28px;
    }

    .features h2{
        font-size: 24px;
    }

    .features p{
        font-size: 16px;
    }
}

@media (min-width: 768px){

    .features h1{
        font-size: 34px;
    }

    .features h2{
        font-size: 28px;
    }

    .features p{
        font-size: 20px;
    }
}

@media (min-width: 1024px){

    .feature{
        float: left;
        width: 33%;
        padding: 0 20px;
    }

    .features h1{
        font-size: 34px;
    }

    .features h2{
        font-size: 28px;
    }

    .features p{
        font-size: 18px;
    }
}

@media (min-width: 1440px){
    .features{
        max-width: 1440px;
        margin: 50px auto 0 auto;
    }
}

/* sekcja 2 */

.portfolio{
    text-align: center;
    background-color: black;
    margin-top: 20px;
    padding-bottom: 20px;
}

.portfolio h1{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 5px 20px;
}

.project{
    margin-bottom: 20px;
}

.web img{
    width: 100%;
}

.about{
    color: white;
    font: 'Saira', sans-serif;
    font-weight: normal;
    text-align: left;
    padding: 10px 20px 10px 0;
}

.about h2{
    font-size: 18px;
    margin-bottom: 12px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    text-indent: 20px;
    /* padding-left: 20px; */
}

.about p{
    font-size: 12px;
    padding-left: 20px;
}

.project:nth-child(2n){
    background-color: #29a6dc;
}

.project:nth-child(2n-1){
    background-color: orangered;
}

@media (orientation: portrait) AND (min-width: 640px){
    .portfolio h1{
        padding: 30px 0;
        font-size: 34px;
    }

    .about h2{
        font-size: 26px;
    }

    .about p{
        font-size: 18px;
    }
}

@media (orientation: landscape){
    
    .web,
    .about{
        float: left;
        width: 50%;
    }

    .web img{
        display: block;
    }

    .project:nth-child(2n-1) .web{
        float: right;
    }
    
    .portfolio .project{
    margin-bottom: 40px;
    }
}

@media (min-width: 1024px){
    .portfolio h1{
        padding: 30px 0;
        font-size: 44px;
    }

    .about h2{
        padding-top: 30px;
        font-size: 34px;
    }

    .about p{
        padding-top: 15px;
        font-size: 24px;
    }
    .portfolio .project{
        margin-bottom: 60px;
        }
}

@media (min-width: 1440px){
    .portfolio{
        max-width: 1440px;
        margin: 20px auto 0 auto;
    }
}

/* sekcja slogan */

.slogan{
    text-align: center;
    background-image: url("./images/motto.jpg");
    background-size: cover;
    background-position: center;
    /* padding: 30px 10px; */
    color: white;
    background-attachment: fixed;
}

.wrap{
    background-color: rgba(0,0,0,0.5);
}

.slogan h1{
    padding-top: 30px;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
}

p.text{
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    padding: 30px 10px 15px 10px;
}

p.author{
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    padding-bottom: 30px;
}

@media (orientation: landscape){
    .slogan p{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px){
    .slogan h1{
        font-size: 32px;
    }

    p.text{
        font-size: 24px;
    }

    p.author{
        font-size: 18px;
    }
}

@media (min-width: 1024px){
    .slogan h1{
        font-size: 36px;
    }

    p.text{
        font-size: 28px;
    }

    p.author{
        font-size: 22px;
    }
}

@media (min-width: 1440px){
    .slogan{
        max-width: 1440px;
        margin: 0 auto;
    }
}

/* sekcja hobby */

.hobby .item{
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
}

.hobby .item:nth-of-type(1){
    background-image: url('./images/hobby1.jpg');
}

.hobby .item:nth-of-type(2){
    background-image: url('./images/hobby2.jpg');
}

.hobby .item:nth-of-type(3){
    background-image: url('./images/hobby3.jpg');
}

.hobby .item:nth-of-type(4){
    background-image: url('./images/hobby4.jpg');
}

.hobby .item p{
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    text-align: center;
    line-height: 20vh;
    text-shadow: 0 0 4px black;
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
}

.hobby h1{
    font-family: 'Saira Condensed',sans-serif;
    text-align: center;
    font-size: 26px;
    padding: 20px;
    text-transform: uppercase;
}

@media (min-width: 533px){
    .hobby .item{
        float: left;
        width: 50%;
        height: 40vh;
    }

    .hobby .item p{
        line-height: 40vh;
    }

}

@media (min-width: 768px){
    .hobby h1{
        font-size: 34px;
    }

    .hobby .item p{
        font-size: 28px;
    }
}

@media (min-width: 1024px){
    .hobby .item p{
        line-height: 40vh;
        opacity: 0;
        transition: 0.6s;
    }

    .hobby .item:hover p{
        opacity: 1;
    }

    .hobby .item{
        background-size: 100%;
        transition: 0.6s;
    }

    .hobby .item:hover{
        background-size: 120%;
    }
}

@media (min-width: 1440px){
    .hobby{
        max-width: 1440px;
        margin: 0 auto;
    }
}