*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

header div{
    width: 20%;
    height: 180px;
    background-color: black;
    margin: 2.5%;
    float: left;
    transition: 0.3s;
}

header div:nth-child(1){
    background-color: aquamarine;
}

header div:nth-child(1):hover{
    background-color: yellowgreen;
}

header div:nth-child(2){
    background-color: rebeccapurple;
}

header div:nth-child(2):hover{
    background-color: salmon;
}

header div:nth-child(3){
    background-color: coral;
}

header div:nth-child(3):hover{
    background-color: crimson;
}

header div:nth-child(4){
    background-color: burlywood;
}

header div:nth-child(4):hover{
    background-color: palevioletred;
}

nav{
    background-color: gray;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    float: left;
    width: 20%;
    margin: 0 10px;
}

nav ul li a{
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 24px;
    color: white;
    border: 3px solid darkgray;
}

nav ul li a:hover{
    color: darkgray;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    margin-top: 30px;
}

footer p {
    font-size: 3rem;
}

.blog{
    padding: 50px;
}

main{
float: left;
width: 65%;
}

aside{
float: left;
background-color: lightgray;
width: 35%;
height: 200px;
}

section.contact{
    padding: 20px;
    font-size: 2rem;
}

section.contact ul{
    margin-top: 20px;
    list-style: none;
}

section.contact li{
    margin: 15px 0;
}

article{
    padding-right: 30px;
}

article img{
    width: 200px;
    float: left;
    padding: 20px 20px 20px 0;
}

article p{
    padding-top: 20px;
    text-align: justify;
}

.contact a{
    color: black;
    text-decoration: none;
}

.contact i{
    margin-right: 5px;

}