*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --tableWidth: 1500px;
    --tableHeight: 800px;
    --tableColor: #333;
    --paddleWidth: 80px;
    --paddleHeigh: 150px;
    --paddleColor: yellow;
    --paddleOffset: 100px;
    --ballSize: 50px;
    --ballColor: white;
    --time: 4s;
}

.table, .aiPaddle, .userPaddle, .ball, .result{
    position: absolute;
}

.table{
    height: var(--tableHeight);
    width: var(--tableWidth);
    background-color: var(--tableColor);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.aiPaddle{
    height: var(--paddleHeigh);
    width: var(--paddleWidth);
    background-color: var(--paddleColor);
    left: calc(var(--tableWidth) - var(--paddleOffset) - var(--paddleWidth));
    top: calc(50% - var(--paddleHeigh)/2);
    animation: aiPaddleMove var(--time) infinite both;
}

.userPaddle{
    height: var(--paddleHeigh);
    width: var(--paddleWidth);
    background-color: var(--paddleColor);
    left: var(--paddleOffset);
    top: calc(50% - var(--paddleHeigh)/2);
    animation: userPaddleMove var(--time) infinite both;
}

.ball{
    width: var(--ballSize);
    height: var(--ballSize);
    background-color: var(--ballColor);
    border-radius: 50%;
    top: calc(50% - var(--ballSize)/2);
    left: calc(50% - var(--ballSize)/2);
    animation: ballMove var(--time) infinite both;
}

.result{
    opacity: 0;
    top: -20%;
    color: black;
    font-size: 50px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    animation: resultAnim var(--time) infinite both;
}

@keyframes ballMove{
    0%{
        top: calc(50% - var(--ballSize)/2);
        left: calc(50% - var(--ballSize)/2);
    }

    30%{
        top: calc(100% - var(--ballSize) - var(--paddleOffset) - var(--paddleWidth));
        left: calc(100% - var(--ballSize) - var(--paddleOffset) - var(--paddleWidth));
    }

    60%{
        top: calc(100% - var(--ballSize));
        left: calc(50% - var(--ballSize)/2);
    }

    100%{
        top: calc(100% - var(--ballSize) - var(--paddleOffset) - var(--paddleWidth));
        left: -100px;
    }
}

@keyframes aiPaddleMove{
    
    0%{
        left: calc(var(--tableWidth) - var(--paddleOffset) - var(--paddleWidth));
        top: calc(50% - var(--paddleHeigh)/2);
    }

    30%{
        top: calc(70% - var(--paddleHeigh)/2);
    }
}

@keyframes userPaddleMove{
    0%{
        left: var(--paddleOffset);        top: calc(50% - var(--paddleHeigh)/2);
    }

    30%{
        top: calc(10% - var(--paddleHeigh)/2);
    } 
}

@keyframes resultAnim{
    0%{
        opacity: 0;
    }

    70%{
        opacity: 0;
    }

    80%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}