

/* zad1 */

/* *{
    margin: 0;
    padding: 0;
} */

/* p{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5vh;
    line-height: 100vh;
    text-decoration: underline;
} */

/* zad2 */

